<div id="text-box">
    <span class="text-to-match" *ngFor="let textToMatch of this.textsToMatchToDisplay" [ngClass]="{'correct-word' : textToMatch.StatusId == TextToMatchStatuses.Correct,
                'incorrect-word' : textToMatch.StatusId == TextToMatchStatuses.Incorrect}">
        {{ textToMatch.Word }}
    </span>
</div>

<div id="input-box">
    <input [disabled]="(remaining$ | async) === 0" type="text" id="text-input-box" [(ngModel)]="userTextInput"
        (keyup)="onKeyUp($event)" />
    <div id="timer"> {{remaining$ | async}} </div>
    <button id="refresh-button" (click)="refresh()"></button>
</div>

<div *ngIf="(remaining$ | async) === 0">
    <app-score-board>

    </app-score-board>
</div>